@font-face{
  font-family: Monda;
  src: url("fonts/Monda-Regular.ttf");
}

@font-face{
  font-family: Dosis;
  src: url("fonts/Dosis-Regular.ttf");
}

body{
  background-color: #d9e1f6;
  margin: 0;
}

header{
  width: 100%;
  height: 64px;
  background-color: transparent;
  position: fixed;
  z-index: 1000;
}

#menu-content {
  width: 100%;
  height: 88px;
  margin: auto;
  position: relative;
}

#ecoa{
  display: table;
  font-family: Monda;
  font-size: 4em;
  top: 0%;
  width: 80%;
  left: 10%;
  height: 100%;
  text-align: center;
  z-index: 100;
  color: white;
  position: absolute;
  vertical-align: middle;
  line-height: 120%;
}

.txt-ecoa{
  display: table-cell;
  vertical-align: middle;
}


.bgdark{
  background-color: #07091A;
  transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

#head{
  position: relative;
  float:left;
  padding-left: 10%;
}

#head img{
  width: 64px;
  height: 64px;
  margin: 10px 0px;
  position: relative;
}

#menu-square{
  display: none;
}

ul{
  list-style: none;
  color: white;
  padding: 30px 0px;
  margin: 0;
}

ul span{
  padding: 0 6px 0 6px;
  color: white;
}

ul a{
  text-decoration: none;
  color: white;
  font-family: Monda;
}

ul li{
  display: inline;
}

nav{
  text-decoration: none;
  float: right;
  padding-right: 10%;
}


.selectedNavItem{
  color: #93C4FF;
  font-weight: bolder;
}


#canvas {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  padding: 0;
}

.modal{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(8, 11, 24, 0.22);
  width: 100%;
  height: 100%;
}

#intro{
  height: 100vh;
  /*background-image: url("imgs/bg.png");*/
  /*! background-color: lightseagreen; */
  background-size: cover;
  background-position: center center;
}

/*!########################################*/

.title_container{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.title_content{
  padding-top: 6%;
  width: 80%;
  margin: auto;
  color: white;
  font-family: Dosis;
  position: relative;
}

.title_container > div {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
}

.title{
  font-size: 4em;
  float: left;
  font-family: Monda;
}

.title::after{
  content: '';
  width: 60px;
  height: 3px;
  background-color: white;
  display: block;
  border-radius: 10px;
}


#evento .title_container{
  background-image: url("imgs/evento2.png");
  padding-bottom: 41%;
  background-color: #d9e1f6;
}

#evento .desc{
  font-size: 2em;
  float: right;
  width: 50%;
}

#palestrantes .title_container{
  background-image: url("imgs/palestrantes1.png");
  padding-bottom: 25%;
  background-color: #d9e1f6;
}


#palestrantes .container{
  width: 90%;
  margin: auto;
}

#palestrantes .people_container{
  max-height: 500px;
  width: 30%;
  float: left;
  background-color: transparent;
  margin: 1.6666%;
  font-family: Dosis;
  font-size: 1.1em;
}

#palestrantes .people_photo{
  width: 50%;
  margin: auto;
  border-radius: 50%;
  padding-bottom: 50%;
  background-color: #0e2847;
}

#palestrantes .people_desc::before{
  content: '';
  display: block;
  width: 30%;
  margin: 20px auto;
  height: 7px;
  background-color: #223d6a;
  border-radius: 20px;
}

#palestrantes::after{
  content: '';
  width: 100%;
  height: 1px;
  clear: both;
  display: block;
}

#programacao .title_container{
  background-image: url("imgs/programacao1.png");
  padding-bottom: 24.27%;
}

#programacao .title_content{
  padding-top: 9%;
}

#programacao .container{
  width: 80%;
  height: 200px;
  padding-bottom: 50px;
  background-color: transparent;
  margin: auto;
}

#apoiadores .title_container{
  background-image: url("imgs/apoiadores1.png");
  padding-bottom: 23.5%;
}

#apoiadores .title_content{
  padding-top: 6%;
}

#apoiadores .container{
  width: 80%;
  margin: auto;
}

#apoiadores .supporters{
  width: 20%;
  padding-bottom: 20%;
  border-radius: 50%;
  background-color: #0e1e3e;
  float: left;
  margin: auto 6.66%;
}

#apoiadores::after{
  clear: both;
  display: block;
  width: 100%;
  height: 1px;
  content: '';
  padding-top: 50px;
}

#contatos .title_container{
  background-image: url("imgs/contatos2.png");
  padding-bottom: 38.5031%;
  position: relative;
}

#contatos .content{
  width: 80%;
  clear:both;
  margin:auto;
  padding-top: 9%;
}

#contatos .social_network .logo{
  width: 44%;
  padding-bottom: 44%;
  margin: auto 25%;
  float: left;
  border-radius: 50%;
  overflow: hidden;
  background-size: contain;
  display: inline;
}

#contatos .instagram .logo{
  background-image: url("imgs/inst.png");
}

#contatos .instagram .logo:hover{
  background-image: url("imgs/inst2.png");
  cursor: pointer;
}

#contatos .fb .logo{
  background-image: url("imgs/fb.png");
}

#contatos .fb .logo:hover{
  background-image: url("imgs/fb2.png");
  cursor: pointer;
}

#contatos .twitter .logo{
  background-image: url("imgs/tt.png");
}

#contatos .twitter .logo:hover{
  background-image: url("imgs/tt2.png");
  cursor: pointer;
}

 
#contatos .social_network{
  width: 30%;
  padding-bottom: 4%;
  position: relative;
  text-align: center;
  float:left;
  margin: auto 1.6667%;
}
#contatos .social_network .link{
  position: relative;
  float: left;
  color:  white;
  font-family: Dosis;
  font-size: 1.1em;
  height: 15%;
  vertical-align: middle;
  display: inline;
  clear: both;
  width: 100%;
  margin-top: 5px;
}

#by{
  clear: both;
  width: 100%;
  height: 20px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  top: 93%;
  text-align: center;
  color: white;
  font-family: Monda;
  padding: 5px 0;
  font-size: 0.75em;
}


/*! EVENTO:: Texto*/
@media screen and (min-width:1200px) and (max-width: 1300px){
  #evento .desc{
    font-size: 1.5;
  }
  #evento .title_content{
    padding-top: 4%;
  }
}


/*! -=-=-==-=-=-=  MENU =-=-=-=-=--=-==-=-=  */
@media screen and (min-width:200px) and (max-width: 719px){
  /*! MENU */
  .bgdark{
    background-color: rgba(7,9,26,0.9);
  }
  
  #menu-square{
    display: block;
    width: 60px;
    height: 60px;
    float: right;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    padding-right: 6%;
  }
  
  #head{
    padding-left: 6%;
  }
  
  #menu-content{
    width: 100%;
  }
  
  #menu-square .bar{
    width: 67%;
    background-color: white;
    height: 4px;
    position: relative;
    display: block;
    margin: 12px auto;
    border-radius: 10px;
    /*! cursor: pointer; */
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
  }
  nav{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s;
    -webkit-transition: max-height 0.3s;
    -ms-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    -o-transition: max-height 0.3s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    padding: 0;
  }
  ul span{
    display: none;
  }
  ul li{
    display: block;
    padding: 5px 10px;
    margin: 0;
    border-bottom: 3px solid #1b267b;
    border-left: 10px solid #1b267b;
  }
  ul li:hover{
    background-color: #1b267b;
    color: white;
    padding-left: 20px;   
  }
  #menu-options{
    clear: both;
    background-color: rgba(7,9,26,0.9);
    width: 100%;
  }
  ul{
    padding: 0;
  }
  nav{
    float: none;
    clear: both;
  }
  
  #menu-content .expand .bar:nth-child(1){
    transform: translate3d(0, 20px, 0) rotate(45deg);
  }
  #menu-content .expand .bar:nth-child(2){
    transform: translate3d(0, 4px, 0) rotate(135deg);
  }
  #menu-content .expand .bar:nth-child(3){
    display: none;
  }
  
  #contatos .content{
    padding-top: 5%;
    position: relative;
  }
  
  #contatos .social_network .link{
    display: none;
  }
  
  
  #contatos .social_network{
    width: 30%;
    float: left;
    position: relative;
    text-align: center;
    margin: auto 1.6667%;
  }
  #contatos .social_network .logo{
    width: 60%;
    padding-bottom: 60%;
  }
  /*
  #contatos .social_network .link{
    position: relative;
    float: left;
    color:  white;
    font-family: Dosis;
    font-size: 1.1em;
    height: 15%;
    vertical-align: middle;
    display: inline;
  }
  */
   
}

@media screen and (min-width:200px) and (max-width: 479px){
  
  #ecoa{
    font-size: 2em;
  }
  
  .title{
    font-size: 2em;
  }
  
  #evento .desc {
    font-size: 1.2em;
  }
  #evento .title_content{
    padding-bottom: 20%;
  }

  
  /*! Palestrantes */
  #palestrantes .title_content{
    padding-top: 18%;
    padding-bottom: 26%;
  }
  
  #palestrantes .people_container{
    float: none;
    width: 80%;
    margin: auto;
    padding-bottom: 40px;
  }
    
}



@media screen and (min-width:480px) and (max-width: 719px){
  
  .title{
    font-size: 3.2em;
  }
  #evento .desc {
    font-size: 1.5em;
  }
  #ecoa{
    font-size: 3.5em;
  }
  
  
  /*! Palestrantes */
  #palestrantes .title_content{
    padding-top: 18%;
    padding-bottom: 26%;
  }
  
  #palestrantes .people_container{
    float: left;
    width: 44%;
    margin: auto 3%;
    padding-bottom: 40px;
    font-family: Dosis;
  }
  #contatos .social_network .link{
    font-size: 2em;
  }
    
}


@media screen and (min-width:720px) and (max-width: 1199px){
  
  .title{
    font-size: 3.5em;
  }
  #evento .desc {
    font-size: 2em;
  }
  #ecoa{
    font-size: 4em;
  }
  
  
  /*! Palestrantes */
  #palestrantes .title_content{
    padding-top: 7%;
    padding-bottom: 11%;
  }
  
  #palestrantes .people_container{
    float: left;
    width: 36%;
    margin: auto 7%;
    padding-bottom: 40px;
    font-family: Dosis;
  }
  
  #contatos .content{
    padding-top: 9%;
  }
  #contatos .title_content{
    padding-top: 9%;
  }
  
}

@media screen and (min-width:0px) and (max-width: 1199px){
  .title{
    display: inline-block;
    float: none;
  }
  
  /*! EVENTO */
  #evento .title_container{
    position: relative;
    padding-bottom: 30%;
  }
  
  #evento .title_content{
    position: relative;
  }
 
  #evento .title_content > div{
    position: relative;
  }
  
  #evento .desc {
    padding-top: 2em;
    float: none;
    width: 100%;
  }
  
  /*! PALESTRANTES */
  #palestrantes .title_container{
    position: relative;
    padding-bottom: 0;
  }  
  #palestrantes .title_content{
    position: relative;
  }
  
  /*! Programacao*/
  #programacao .title_container{
    position: relative;
    padding-bottom: 0;
  }  
  
  #programacao .title_content{
    position: relative;
    padding-top: 8%;
    padding-bottom: 8%;
  }
  
  #programacao .title{
    position: relative;
  }
  
  /*! Apoiadores */
  #apoiadores .title_container{
    position: relative;
    padding-bottom: 0;
  }  
  #apoiadores .container{
    width: 90%;
  }
  #apoiadores .title_content{
    position: relative;
    /*! top: 35%; */
    padding-top: 5%;
    padding-bottom: 13%;
  }
    
  #apoiadores .supporters{
    width: 25%;
    padding-bottom: 25%;
    margin: auto 4.16666%;
  }
  
  
  #contatos .title_container{
    position: relative;
    padding-bottom: 0;
  }  
  #contatos .title_container > div{
    position: relative;
    padding-bottom: 0;
  }  
}

